.Goods{
    border: 1px solid #ccc;
    font: 14px Arial;
    border-collapse: separate;
    border-spacing: 0;
}
.Goods .flex .flex-col{
    padding: 7px;
}
.Goods .Ishop.flex:hover{
    cursor: pointer;
}
.Goods .button button{
    width: 70px;
    height: 26px;
    margin: 7px;
    border-radius: 5px;
}
.Goods .button button:hover{
    background: green;
    color: #fff;
    cursor: pointer;
}
.Goods .activeBg{
    background: orange;
}
.Goods tr.good.flex td,
.Goods tr.good.flex th {
    border: 1px solid #ccc;
    max-width: 330px;
    min-width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

